.login__container {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: var(--primary-white);

    padding: 100px;

    border-radius: var(--primary-radius);
}

.login__content h3 {
    padding-bottom: 12px;
}