.dashboard__container {
    height: 100vh;
}

.dashboard-chart__container {
    height: 400px;
    text-align: center;
}

.dashboard-chart__container h5 {
    font-size: 16px;
    color: var(--title-color);
    text-transform: capitalize;
}

.dashboard-charts__container {
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chart-icon {
    color: var(--icon-color);
    cursor: pointer;

    padding: 10px;

    transition: all .3s;
}

.chart-icon.selected {
    color: var(--default-red);
    border-bottom: 1px solid var(--default-red);
}

.chart-icon:hover {
    color: var(--default-red);
    border-bottom: 1px solid var(--default-red);
    opacity: .9;
}

