.card__container {
    width: 100%;
    background-color: var( --card-background);
    padding: 50px;

    border-radius: var(--default-radius);
    position: relative;
}

.card__container.sm {
    width: 50%;
}

.header__back {
    position: absolute;

    top: 12px;
    left: 12px;

    font-size: 24px;
    cursor: pointer;

    transition: all .4s;
}

.header__back:hover {
    opacity: .8;
}

        