.header__container {
    width: 100%;
    min-height: 80px;
    background-color: transparent;

    padding: 0 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
    color: var(--title-color);

    position: relative;
}

.header__title {
    position: relative;
    left: 0;

    font-size: 14px;
    font-weight: 400;
}

.header-profile__content {
    display: flex;
    align-items: center;
}

.header-profile__content .icon {
    margin-right: 24px;
    cursor: pointer;
    transition: all .4s;
    color: var(--icon-color);

    user-select: none;
}

.header-profile__content .icon.notification {
    animation: shake 8s infinite;
    animation-delay: 3s;
}

.header-profile__content .icon.notification:hover {
    opacity: .6;
}

.header-profile__content .icon.settings:hover {
    opacity: .6;
    transform: rotate(50deg);
}

@keyframes shake {
    25%,
    83%,
    100% {
        transform: rotatez(0deg);
    }
    4%,
    10% {
        transform: rotatez(-5deg);
    }
    7%,
    13% {
        transform: rotatez(5deg);
    }
}

/* @keyframes shake {
    0%,
    25%,
    83%,
    100% {
        transform: rotatez(0deg);
    }
    32.5%,
    62.5% {
        transform: rotatez(-5deg);
    }
    47.5%,
    75.5% {
        transform: rotatez(5deg);
    }
} */