.sidebar__container {
    height: 100vh;
    width: fit-content;

    border-right: 1px solid var(--border-color);

    z-index: 200;
}

.sidebar__content {
    border: none !important;
}

.sidebar-header__container {
    height: 80px;
    padding: 0 32px;

    display: flex;
    align-items: center;
}

.sidebar-header__container .sidebar-header--icon {
    cursor: pointer;
    color: var(--icon-color);
}
