.sidebar__container {
    height: 100vh;
    width: fit-content;

    background-color: var(--primary-white);
    box-shadow: 9px 0px 28px -15px rgba(0,0,0,0.10);

    z-index: 200;
}

.sidebar__content {
    border: none !important;
}

.sidebar-header__container {
    height: 80px;
    padding: 0 32px;

    display: flex;
    align-items: center;
}

.sidebar-header__container .sidebar-header--icon {
    cursor: pointer;
    color: var(--secondary-background);
}
