.sidebar__container {
    height: 100%;

    background-color: var(--primary-background);

    position: fixed;
    top: 80px;
    left: 0;

    z-index: 200;
}

.sidebar__content {
    background-color: var(--primary-background);
    opacity: 1;
}