* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-radius: 12px;

    --default-yellow: #ffcc33;
    --default-red: #e55e48;
    --default-blue: #0fccce;

    /* LIGHT THEME */
    --default-background: #eeeef0;
    --card-background: #ffffff;
    --title-color: #6f87aa;
    --menu-text-color: #6f87aa;
    --icon-color: #6f87aac0;
    --border-color: #6f87aa3e;
    --menu-hover-color: #6f87aac0;
    --text-hover-color: #ffffff;
    
    background-color: var(--default-background);
    color: var(--title-color);
}

:root .dark-theme {
    /* DARK THEME */
    --default-background: #2a2e36;
    --menu-text-color: #cfcdcd;
    --text-hover-color: #ffffff;
    --icon-color: #ffffff;
    --menu-hover-color: #343842;
    --card-background: #343842;
    --border-color: #343842;
    --title-color: #ffffff;

    background-color: var(--default-background);
    color: var(--title-color);
}

body {
    width: 100vw;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--title-color);
}

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--card-background);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: var(--default-background);
    border: 1px solid var(--border-color);
    border-radius: 50px;
}
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
