* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-background: #ffffff;
    --secondary-background: #4a6175;
    --gray-opacity: #354c609a;
    --secondary-background-hover: #354c60;
    --primary-white: #ffffff;
    --text-color: #595959;

    /* --primary-background: #ebebeb;
    --secondary-background: #4a6175;
    --gray-opacity: #354c609a;
    --secondary-background-hover: #354c60;
    --primary-white: #ffffff;
    --text-color: #595959; */
    --primary-radius: 12px;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--primary-background);
    color: var(--text-color);

    font-family: 'Roboto', sans-serif;

    overflow: hidden;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}
