/* https://br.pinterest.com/pin/294352525652340482/ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* DARK THEME */
    --dark-background: #2a2e36;
    --dark-menu-text-color: #cfcdcd;
    --dark-text-hover-color: #ffffff;
    --dark-icon-color: #ffffff;
    --dark-menu-hover-color: #343842;
    --dark-card-background: #343842;
    --dark-border-color: #343842;

    --default-radius: 12px;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--dark-background);
    color: #ffff;

    font-family: 'Roboto', sans-serif;

    overflow: hidden;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #ffff;
}
